@import 'global-variables.scss';
@import 'assets/scss/fonts';

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: #333448;
  background: linear-gradient(0deg,rgba(51,53,72,.05),rgba(51,53,72,.05)),#ffffff;
}

html, body {
  margin: 0;
  height: 100%;
}




