@import 'global-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400&display=swap');

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: #333448;
  background: linear-gradient(0deg,rgba(51,53,72,.05),rgba(51,53,72,.05)),#ffffff;
}

html, body {
  margin-right: 0;
  margin-left: 0px;
  height: 100%;
}


.p-button {
  font-family: $default-font-family;
  border-radius: 10px;
}

.p-inputtext {
  border-radius: 10px;
}

.p-align-icon label{
  margin-left: 30px;
}

.p-align-icon input {
  padding-left: 40px;
}

.p-align-icon .p-input-icon-left i{
  margin-top: -13px;
}


.p-button .p-button-icon {
  margin-right: 10px;
}


.d-none {
  display: none;
}
