@import "global-variables";

.p-button {
  font-family: $default-font-family;
  font-size: $default-font-size;
  border-radius: 10px;

  .p-button-icon {
    margin-right: 10px;
  }
}

.required {
  color: #B00020;
}

.p-message {
  font-size: $default-font-size;
}

.p-inputtext {
  font-size: $default-font-size;
  border-radius: 10px;
}

.p-align-icon {
  label {
    margin-top: -0.4rem;
    margin-left: 30px;
  }

  input {
    padding-left: 40px;
  }

  .p-input-icon-left i {
    z-index: 1;
    margin-top: -13px;
  }
}

.p-inputtext.ng-touched.ng-invalid {
  border-color: $error-field-color;
}

.p-menubar {
  font-family: $default-font-family;
  font-size: $default-font-size;
}
